body{
  background: gray;
  font-size: 0.7em;
}

::-webkit-file-upload-button {
            color: white;
            background: gray;
            padding: 5px;
            border-radius: 50px;
            outline: none;
            position: relative;
            left: 65%;
            bottom: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            
}